---
title: "End-to-end Compositional Verification of Program Safety through Verified and Verifying Compilation"
collection: publications
category: preprints
permalink: /publication/2025-10-11-end-to-end-compositional-verification
date: 2025-10-11
venue: 'arXiv preprint arXiv:2510.10015'
paperurl: 'https://arxiv.org/abs/2510.10015'
citation: 'Jinhua Wu, Yuting Wang, Liukun Yu, <b>Linglong Meng</b>. (2025). &quot;End-to-end Compositional Verification of Program Safety through Verified and Verifying Compilation.&quot; <i>arXiv preprint arXiv:2510.10015</i>.'
---
